
.element {
                width: 60%;
                height: 562px;
                background-color: rgba(0,0,0,0.5);
                margin: 0 auto;
                margin-top: 125px;
                padding-top: 10px;
                padding-left: 50px;
                border-radius: 15px;
                -webkit-border-radius:15px;
                -moz-border-radius: 15px;
                color: white;
                font-weight: bolder;
                box-shadow: inset 4px 4px rgba(0,0,0,0.1);
                
            }
            .element input[type="text"],
            .element input[type="password"],.element input[type="email"]{
                width: 200px;
                height: 35px;
                border: 0;
                 border-radius: 15px;
                -webkit-border-radius:15px;
                -moz-border-radius: 15px;
                padding-left: 5px;
            }
            .element input[type="submit"]{
                width: 100px;
                height: 35px;
                border: 0;
                 border-radius: 15px;
                -webkit-border-radius:15px;
                -moz-border-radius: 15px;
                background-color: skyblue;
                font-weight: bolder;
               cursor: pointer;
            }
            .element input[type="submit"]:hover{
                background: #a6af13;
            }
            
h1{
    margin: 10px;
    padding: 10px;
    text-align: right;
    font-size: 15;
    color: black;
}
#cont1 li .a{
    color: black;
}
#cont1 ul{
   list-style: none; 
}
#cont1 ul li{
/* background-color: blue;*/
 background-color: rgba(0,0,0,0);
 width: 150px;
 border: 0px solid white;
 height: 30px;
 line-height: 50px;
 text-align: left;
 color: fuchsia;
 font-size: 25px;
}
/*#cont1 ul li:hover{
    background-color: #388222;
}*/
#cont1 ul ul{
    display: none;
}
#cont1 ul li:hover > ul{
    display: block;
}

